.wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 56px 0 0;
}

.changing {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.prev {
  margin-left: 40px;
}


.next {
  transform: rotate(180deg);
}

.next,
.prev {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  box-shadow: 0 0 15px rgb(56 119 238 / 10%);
}

@media (hover:none) {

  .next:hover,
  .prev:hover {
    border: 1px solid #3877EE;
    cursor: pointer;
  }
}

@media screen and (width<=640px) {

  .wrapper {
    margin-top: 0;
    height: 100%;
  }
}